@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&display=swap');

body,
html {
	background: #0B072B;
	color: rgba(16, 211, 255, 1);
	font-family: 'JetBrains Mono', monospace;

	background-image: radial-gradient(rgba(16, 211, 255, 0.6) 1%, transparent 40%);
	background-size: 3px 3px;
}

#logo {
	width: 100%;
	border-bottom: 1px solid rgba(16, 211, 255, 0.1);

}

#logosvg {
	fill: rgba(16, 211, 255, 1);
}

#blink {
	animation: blink 1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0.0;
	}
}

#blinkconsole {
	animation: blinkconsole 2s infinite;
}

#go {

	background-color: rgba(16, 211, 255, 0.3);
	box-shadow: inset 0px 0px 0px 2px #0B072B;

	outline: 1px solid rgba(16, 211, 255, 1);
	border-radius: 0px;
	border: none;
	color: rgba(16, 211, 255, 1);
	margin-top: 50px;
	font-family: 'JetBrains Mono', monospace;
	text-transform: uppercase;

}

.activeGo {
	animation: .6s flicker linear infinite;
}

#nameresult {

	font-family: 'Miriam Libre', sans-serif;

}

#nameresult:focus {
	background: rgba(16, 211, 255, 0.3);
	border: 2px dotted rgba(16, 211, 255, 0.3);
	color: white;
	padding: 18px;
}

h3::selection {
	background: rgba(16, 211, 255, 1);
	background: rgba(16, 211, 255, 0);
}

.category {
	color: rgba(16, 211, 255, 0.6);
	font-family: 'JetBrains Mono', monospace;
	letter-spacing: 2px;
}

.customizationobject {

	text-transform: uppercase;

}

input {
	border-radius: 5px;
}

label {
	background-color: rgba(16, 211, 255, 0.2);
	outline: 1px solid rgba(16, 211, 255, 1);
	border-radius: 0px;
}

input:checked+label {
	background-color: rgba(16, 211, 255, 1);
	outline: 1px solid rgba(16, 211, 255, 1);
	color: #0B072B;
	animation: flicker .2s linear;
	transition: .2s linear;
	box-shadow: inset 0px 0px 0px 2px #0B072B;
}

input:not(:checked)+label {
	background-color: rgba(16, 211, 255, 0.2);
	outline: 1px solid rgba(16, 211, 255, 1);
	animation: flickerOut .1s linear;
}

input:not(:checked):not(:disabled):hover+label {
	background-color: rgba(16, 211, 255, 0.3);
	box-shadow: inset 0px 0px 0px 2px #0B072B;
}

input:disabled+label {
	background-color: rgba(16, 211, 255, 0.2);
	outline: 1px solid rgba(16, 211, 255, 1);
	opacity: 0.5;
	cursor: not-allowed;
}

#splitdiv p {
	font-size: 0.7em;
	color: #10DDFF;
}

#outercustomization,
#outerconsole {
	border: 1px solid rgba(16, 211, 255, 1);
	background: #0B072B;
}

.settingshown,
.consoleshown {
	animation: flickerbig .2s linear;

}

.settingshidden,
.consolehidden {
	animation: flickerOutBig .2s linear;
}

#outercustomization:active,
#outerconsole:active {

	box-shadow: 0 0 40px 24px rgba(16, 211, 255, 0.12);
}

#settingsheader,
#consoleheader {
	color: #0B072B;
	background: rgba(16, 211, 255, 1);
	text-transform: uppercase;
}

.fa-bars {
	display: inline-block;
}

#x,
#xa {
	margin-top: auto;
	color: #0B072B;
	line-height: 2em;
	float: right;
	padding-right: 10px;
	padding-left: 20px;
	display: block;
	font-family: 'JetBrains Mono', monospace;
	font-size: .8em;
	cursor: pointer;
}

#possibleInBox {
	border-top: 1px solid rgba(16, 211, 255, 1);
}


.iconbutton {
	animation: flickerOut .4s linear;
	border: 1px solid rgba(16, 211, 255, 1);

}

.icon {

	color: rgba(16, 211, 255, 1);

}

.activebutton {

	animation: flicker .4s linear;
	background: rgba(16, 211, 255, 1);
	border: 1px solid rgba(16, 211, 255, 1);

	color: #0B072B;

}

#editableconsole {
	color: rgba(16, 211, 255, 0.8);

}

#consolereturn,
#oldconsolereturn {
	color: rgba(16, 211, 255, 0.7);
}

@keyframes flicker {
	0% {
		background-color: rgba(16, 211, 255, 0);
	}

	10% {
		background-color: rgba(16, 211, 255, 0.7);
	}

	20% {
		background-color: rgba(16, 211, 255, 0.4);
	}

	50% {
		background-color: rgba(16, 211, 255, 0.6);
	}

	60% {
		background-color: rgba(16, 211, 255, 0.4);
	}

	75% {
		background-color: rgba(16, 211, 255, 0.8);
	}

	90% {
		background-color: rgba(16, 211, 255, 0.65);
	}

	100% {
		background-color: rgba(16, 211, 255, 1);
	}
}

@keyframes flickerOut {
	0% {
		background-color: rgba(16, 211, 255, 1);
	}

	10% {
		background-color: rgba(16, 211, 255, 0.7);
	}

	20% {
		background-color: rgba(16, 211, 255, 0.9);
	}

	50% {
		background-color: rgba(16, 211, 255, 0.1);
	}

	60% {
		background-color: rgba(16, 211, 255, 0.5);
	}

	75% {
		background-color: rgba(16, 211, 255, 0.3);
	}

	90% {
		background-color: rgba(16, 211, 255, 0.6);
	}

	100% {
		background-color: rgba(16, 211, 255, 0.2);
	}
}

@keyframes flickerOutBig {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 0.7;
	}

	20% {
		opacity: 0.9;
	}

	50% {
		opacity: 0.1;
	}

	60% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.3;
	}

	90% {
		opacity: 0.6;
	}

	100% {
		opacity: 0;
	}
}

@keyframes flickerbig {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.7;
	}

	20% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.6;
	}

	60% {
		opacity: 0.3;
	}

	75% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}