@import "~theme/colors";

.button {
    border-radius: 8px;
    padding: 9px 20px;
    transition: border-color 0.3s, box-shadow 0.5s, color 0.3s;
    border: none;

    &:focus {
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 5px $primary;
    }
    &:active:enabled {
        outline: none;
        box-shadow: 0 0 15px $primary;
    }
}

.primary:enabled {
    background: $primary-shade;
    color: $white;
}

.icon {
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}