@import "~theme/colors";
@import "~theme/screens";

.topBar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid $gray 1px;
    background: #ffffff0a;
    backdrop-filter: blur(15px);
    padding: 0.5rem 1rem;

    h1 {
        font-weight: 600;
        font-size: 40px;
        margin: auto;

        @include md {
            margin: 0;
            font-size: 26px;
        }
    }

    @include md {
        justify-content: space-between;
        padding: 1rem;
    }

    button[type="submit"] {
        width: 100px;
    }
}

.formContent {
    height: 100%;
    padding: 50px 75px;

    h3 {
        margin: 0;
        size: 1rem;
        font-weight: 500;
        font-size: 30px;
    }
}

.full {
    flex-basis: 100%;
}

.fields,
.labels,
.links,
.images {
    margin: 2rem 0;
    display: flex;
    gap: 25px;
    align-items: flex-end;
}

.labels,
.links {
    margin: 6px 0;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.urlInput {
    display: none;
}

.areaContainer {
    flex: 1 0 100%;
    margin: 2rem 0 4rem;
    height: 200px;
    display: flex;

    .area {
        flex: 1 0 100%;
        textarea {
            resize: none;
        }
    }
}

.upload {
    margin: 2rem 0;
}

.iconVariant {
    flex-basis: 100px;
}

.add {
    margin-top: 0.5rem;
}
