/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@layer {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html,
    body,
    #root,
    #__next {
        height: 100%;
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        margin: 0;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
        font-size: 13px;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    #root,
    #__next {
        isolation: isolate;
    }
}