@font-face {
  font-family: 'SFMono';
  src: url('SFMono-BoldItalic.woff2') format('woff2'),
    url('SFMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono';
  src: url('SFMono-BoldItalic.woff2') format('woff2'),
    url('SFMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html,
#logo,
body,
.category {
  cursor: url(../photos/pointer-light-mode.png), auto;
  overflow-x: hidden;
}

body {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

.contact {
  text-align: right;
  margin-right: 25px;
  opacity: 0.5;
  line-height: 0.3em;
  color
}

a {
  color: inherit;
}

#thinner {
  font-weight: 300;
}

/*KOSHER*/
#publicationResult {
  box-shadow: 0 4px 8px rgba(32, 42, 62, .06), 0 20px 40px rgba(32, 42, 62, .06);
  width: 350px;
  margin: auto;
  height: 75px;
  padding: 10px;
  border-radius: 17px;
  text-align: center;
  display: none;
  margin-bottom: 300px;
}

#download {
  position: absolute;
  margin-left: 25px;
}

.yellowbutton {
  display: block;
  height: 75px;
  width: 75px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 100px;
  background-color: white;
  color: #ffd708;
  margin: 0 auto;
  /* margin-left: 25px; */
  text-align: center;
  font-size: 2em;
  line-height: 2.3em;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(32, 42, 62, .06), 0 20px 40px rgba(32, 42, 62, .06);
}

.yellowbutton:hover {
  box-shadow: 0 4px 8px rgba(32, 42, 62, .18), 0 20px 60px rgba(32, 42, 62, .16);
}

#pubname {
  width: min-content;
  display: block;
  text-align: left;
  float: left;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 25px;
  text-transform: capitalize;
  margin-top: 10px;
}

.kosherBox:hover .kosherDownload,
.kosherDownload:hover {
  background-color: #ffd708;
  color: black;
}

/*END KOSHER*/
h1 {
  cursor: url(../photos/text-light-mode.png), auto;
}

p,
span,
br,
h2,
input {
  cursor: url(../photos/text-light-mode-small.png), auto;
}

.button,
a,
button,
.fa-link,
.btn,
addbutton,
a span {
  cursor: url(../photos/link-light-mode.png), auto;
}

.yellowbutton {
  cursor: url(../photos/link-yellow-mode.png), auto;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

body {
  color: #2A2929;
  background: #FCFCFC;
  font-family: SF Display, sans-serif;
  transition: 0.3s;
}

h1 {
  padding-top: 50px;
  font-size: 4em;
  font-weight: 700;
  margin: auto;
  max-width: 70%;
  width: 900px;
  text-align: center;
  line-height: .83em;
  margin-bottom: 75px;
  letter-spacing: -2px;
}

#centertext {
  text-align: center;
  max-width: 90%;
  width: 350px;
  font-size: .7em;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#searchtext {
  text-align: center;
  max-width: 70%;
  font-size: .7em;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.3;
}

#x {
  float: right;
  display: block;
  padding: 30px;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 5px;
  border-top: 1px solid #ccc;
  margin-block-start: 0;
  padding-top: 25px;
}

.searchDIV {
  width: 100%;
}

#searchbar {
  -webkit-appearance: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  box-shadow: 0 4px 8px rgba(32, 42, 62, .06), 0 20px 40px rgba(32, 42, 62, .06);
  line-height: 2em;
  outline: none;
  padding: 12px 20px;
  margin-bottom: 50px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 1.3em;
  transition: 0.3s;
  background: none;
}

#searchbar:focus {
  box-shadow: 0 4px 8px rgba(32, 42, 62, .1), 0 20px 40px rgba(32, 42, 62, .1);
}

.footer {
  margin-bottom: 100px;
  margin-top: 25px;
}

p {
  font-size: .8em;
  font-weight: 400;
  max-width: 100%;
}

::selection {
  color: #2A2929;
  background: #ffd708;
}

.lighter {
  font-size: .8em;
  color: #ccc;
  padding-left: 12px;
  border-left: 1px solid;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "SFMono", monospace;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}

.lighter>a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

.link {
  color: black;
  outline: none;
  padding: none;
  border: none;
}

.link:visited {
  color: #757474;
}

#logo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  max-width: 70%;
  cursor: url(../photos/pointer-light-mode.png), auto;
}

.downloadbutton {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  display: table;
  border: none;
  padding: 1em;
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 5px;
}

.SubmitFooter {
  width: 100%;
  font-weight: 700;
  background-color: #ffd708;
  position: fixed;
  bottom: 0px;
  line-height: 5em;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.betatag {
  text-align: center;
  margin: auto;
  font-size: .5em;
  letter-spacing: .3em;
  border: 1px solid #ffd708;
  border-radius: 5px;
  display: table;
  padding: 4px;
}

.addbutton {
  font-weight: 700;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 5px;
  background-color: white;
  color: #2A2929;
}

#noresults {
  display: none;
  margin-top: -100px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(32, 42, 62, .06), 0 20px 40px rgba(32, 42, 62, .06);
  width: 350px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#noresultstitle {
  font-size: 2em;
  font-weight: 700;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

#noresultstext {
  font-size: 1em;
  font-weight: 300;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  width: 250px;
}

.requestbutton {
  margin-top: 50px;
  display: table;
  font-weight: 700;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #ffd708;
  color: #2A2929;
  margin: 0 auto;
  text-align: center;
}

.graybutton {
  margin-bottom: 5px;
  border: 2px solid #ccc;
  background-color: white;
  color: #2A2929;
}

.graybutton:hover {
  background-color: #E2E2E2;
}

.graybutton:active {
  border: 2px solid #ccc;
  background-color: #ccc;
}

.yellowbutton:active {
  background-color: #ffd708;
  color: #2A2929;
}

.imageDIV {
  max-width: 300px;
  height: 300px;
  vertical-align: middle;
  display: grid;
  margin: auto;
}

.portfoliosource {
  height: 90%;
  padding-bottom: 25px;
  width: 100%;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.portfolioDIV {
  width: 300px;
  max-width: 95%;
  padding: 25px;
  background-color: rgba(127, 127, 127, 0.05);
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.3s;
  border: 1px solid rgba(127, 127, 127, 0.1);
  margin-right: 25px;
  display: inline-block;
  transition: 0.3s;
}

.portfolioDIV:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(32, 42, 62, .06), 0 20px 40px rgba(32, 42, 62, .06);
  border: 1px solid rgba(127, 127, 127, 0.1);
}

.allportfolio {
  max-width: 95%;
  /* margin-right: 15%; */
  margin-left: 15%;
  margin-bottom: 50px;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 35px;
  margin-bottom: 35px;
  width: 70%;
  display: none;
}

.numbers {
  color: #ffd708;
}

.btn {
  color: #ccc;
  transition: 0.3s;
  background: none;
  box-shadow: 0px 0px 0px transparent;
  line-height: 1em;
  font-size: .7em;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.btn:active {
  color: #666;
}

.category {
  background-color: rgba(127, 127, 127, 0.2);
  ;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: .6em;
  display: inline-block;
  width: fit-content;
}

.category>a {
  color: inherit;
}

.location {
  background-color: rgba(127, 127, 127, 0.1);
  cursor: url(../photos/link-yellow-mode.png), auto;
  transition: 0.3s;
}

.location:hover {
  background-color: rgba(127, 127, 127, 0.2);
}

@media only screen and (max-width: 600px) {
  .portfolioDIV {
    width: calc(90% - 50px);
    margin-right: 5%;
    margin-left: 5%;
    transition: 0.3s;
  }

  h1 {
    padding-top: 50px;
    font-weight: 700;
    margin: auto;
    max-width: 70%;
    text-align: center;
    line-height: .83em;
    font-size: 3em;
  }

  .kosherBox {
    width: 100%;
    max-width: 82.5%;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .allportfolio {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
    max-width: 100%;
  }

  #searchbar {
    width: calc(90% - 50px);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
  }

  .line {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: none;
  }

  #logo {
    position: inherit;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

/* Overrides for Dark Mode. */
@media (prefers-color-scheme: dark) {
  #logo {
    content: url("../photos/dark.png");
  }

  body,
  #searchbar {
    color: white;
    background: #333333;
  }

  .SubmitFooter>span {
    color: #2A2929;
  }

  .requestbutton {
    background-color: white;
  }

  #noresults {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .downloadbutton {
    color: #2A2828;
  }

  .link {
    color: white;
  }

  .link:visited {
    color: #C6C5C6;
  }

  .lighter {
    color: #555555;
  }

  .line {
    border-bottom: 1px solid #555555;
  }

  .btn {
    color: #555555;
  }

  .portfolioDIV:hover>.yellowbutton {
    color: #ccc;
    background-color: #333333;
  }

  #publicationResult {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .yellowbutton {
    background-color: #333333;
    color: #ffd708;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  #searchbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  #searchbar:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 4px 7px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .yellowbutton:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 4px 7px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .button,
  a,
  button,
  .fa-link,
  .btndark {
    cursor: url(../photos/link-dark-mode.png), auto;
  }

  .yellowbutton {
    cursor: url(../photos/link-yellow-mode.png), auto;
  }

  .portfolioDIV:hover {
    background-color: #222222;
  }

  .portfoliosource {}
}

/*ends dark mode*/