@import "~theme/colors";
@import "~theme/screens";

.footer {
    background-color: $white;

    @include dark {
        background-color: #333333;
    }
}

.moreProjects {
    text-align: center;
    padding: 55px 0;

    .button {
        font-size: 1em;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        border: none;
        padding: 1rem 1rem;
        border-radius: 5px;
        transition: 0.25s;

        border: 2px solid $primary;
        background-color: white;
        color: $black;

        &:hover {
            background-color: $primary-light;
        }

        &:active {
            background-color: $primary;
        }

        @include dark {
            color: $gray;
            background-color: #333333;

            &:hover {
                background-color: $primary-dark;
            }
        }
    }
}

.links {
    border-top: 1px dotted $gray;
    margin: 0 15%;
    padding-top: 40px;
    font-size: 0.8em;
    color: $gray;
    padding-bottom: 50px;

    @include dark {
        border-top: 1px dotted #555555;
        color: #555555;
    }

    a {
        color: inherit;
        transition: 0.25s;

        &:hover {
            color: #222222;

            @include dark {
                color: $white;
            }
        }
    }

    .labelContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 1rem 0;

        .label {
            background-color: rgba(167, 167, 167, 0.3);

            border: 1px solid rgba(167, 167, 167, 0.4);
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            width: fit-content;
            text-decoration: none;
            color: rgb(138, 138, 138);
            transition: 0.25s;

            &:hover {
                background-color: rgba(167, 167, 167, 0.5);
            }
        }
    }
}
