@import "~theme/colors";

.root {
    position: fixed;
    background: $primary;
    color: $black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: underline;
        font-weight: bold;
        color: inherit;
        cursor: pointer;
    }

    h1 {
        margin-top: 18vh;
        font-size: 5vw;
        text-align: center;
        font-weight: 300;
        letter-spacing: -0.2vw;
        width: fit-content;
        opacity: 0;
        animation: fadein 1s ease 0.5s forwards;
    }

    @keyframes fadein {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
        }
    }

    h2 {
        background: #ffd708;
        padding-bottom: 40px;
        margin-block-start: 0;
        color: white;
        font-family: sans-serif;
        position: absolute;
        width: fit-content;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        top: 0px;
        font-size: 40vw;
        font-weight: bold;
    }

    .line {
        position: absolute;
        top: 25px;
        bottom: 25px;
        width: 1px;
        border-right: 1px solid rgb(42, 41, 41);
    }

    .footer {
        background: $primary;
        padding: 50px 0 25px;
        font-family: sans-serif;
        width: 50%;
        text-align: center;
        z-index: 1;
    }
}
