@import "~theme/colors";

.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    .header {
        font-size: 12px;
        font-weight: 500;
    }

    .footer {
        font-size: 12px;
        opacity: 0.75;
        transition: color 0.3s;
    }

    .container {
        background: $white;
        border: 1px solid #d0d5dd;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        transition: border-color 0.3s, box-shadow 0.3s, color 0.3s;
        width: 100%;
        min-height: 25px;
        flex: 1 0 100%;
        display: flex;

        & > input,
        & > textarea {
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 8px 12px;
            font-family: inherit;
            width: 100%;
        }

        &:focus-within {
            border-color: $primary;
            box-shadow: 0 0 5px $primary;
        }

        &:has(.start) > input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:has(.end) > input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.error {
        .container {
            border-color: #ea573a;
            box-shadow: 0 0 5px #ea573a;
        }

        input::placeholder,
        textarea::placeholder {
            color: #ea573a;
        }

        .footer {
            color: #ea573a;
            opacity: 1;
        }
    }
}

.start,
.end {
    display: flex;

    span {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        font-size: 13px;
    }
}

.start span {
    border-right: solid $gray-300 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.end span {
    border-left: solid $gray-300 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
