@import "~theme/colors";
@import "~theme/screens";

.root {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    
    @include sm {
        justify-content: center;
    }
}

.menu {
    display: flex;
    align-items: center;

    .item {
        text-decoration: none;
        color: $black;
        font-size: 1em;
        font-weight: 500;
        margin-left: 15px;
        display: inline;

        &.current {
            background-color: #8383831f;
            padding: 10px 20px;
            border-radius: 5px;
        }

        @include dark {
            color: #555555;
        }
    }

    @include sm {
        display: none;
    }
}

.logo {
    width: 150px;

    @include sm {
        width: 200px;
    }
}
