body,
html {
  margin: 0px;
  padding: 0px;
  transition: all .2s ease-in-out;
}

:root {
  --shadow-color: 0deg 0% 79%;
  --shadow-elevation-low:
    0px 1px 1.5px hsl(var(--shadow-color) / 0),
    0px 1.6px 2.4px hsl(var(--shadow-color) / 0.12),
    0.1px 3px 4.5px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-medium:
    0px 1px 1.5px hsl(var(--shadow-color) / 0),
    0.1px 3.2px 4.8px hsl(var(--shadow-color) / 0.06),
    0.1px 5.4px 8.1px hsl(var(--shadow-color) / 0.12),
    0.2px 8.9px 13.4px hsl(var(--shadow-color) / 0.18),
    0.4px 15px 22.5px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-high:
    0px 1px 1.5px hsl(var(--shadow-color) / 0),
    0.1px 5.3px 8px hsl(var(--shadow-color) / 0.03),
    0.2px 9px 13.5px hsl(var(--shadow-color) / 0.07),
    0.3px 12.8px 19.2px hsl(var(--shadow-color) / 0.1),
    0.4px 17.1px 25.7px hsl(var(--shadow-color) / 0.14),
    0.6px 22.6px 33.9px hsl(var(--shadow-color) / 0.17),
    0.8px 30px 45px hsl(var(--shadow-color) / 0.21),
    1px 39.7px 59.6px hsl(var(--shadow-color) / 0.24),
    1.4px 52.5px 78.8px hsl(var(--shadow-color) / 0.28);
}

#back {
  padding: 2px;
  line-height: 1em;
  vertical-align: middle;
  font-size: .5em;
  text-decoration: none;
  color: #777777;
}

html,
#logo,
body,
.category {
  cursor: url(../../../photos/pointer-light-mode.png), auto;
}

h1 {
  cursor: url(../../../photos/text-light-mode.png), auto;
}

p,
span,
br,
h2 {
  cursor: url(../../../photos/text-light-mode-small.png), auto;
}

.button,
a,
button,
.fa-link,
.btn {
  cursor: url(../../../photos/link-light-mode.png), auto;
}

.yellowbutton {
  cursor: url(../../../photos/link-yellow-mode.png), auto;
}

body {
  color: #2A2929;
  background: rgb(248, 248, 248);
  font-family: 'Inter', sans-serif;
}

/* h1 {
  padding-top: 50px;
  font-size: 2em;
  font-weight: 700;
  margin-left: 15%;
  max-width: 70%;
  width: 900px;
} */
h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 5px;
  margin-block-start: 0px;
}

p {
  font-size: .9em;
  font-weight: 400;
  max-width: 100%;
}

::selection {
  color: #2A2929;
  background: #f4cd2a;
}


.allphotos:hover {
  cursor: url(../../../photos/link-yellow-mode.png), pointer;
  /* darker */
  /* filter: brightness(0.9); */


}

.lighter {
  display: none;
}

.lighter>a {
  display: none;
}

.link {
  color: #333333;
  outline: none;
  padding: none;
  border: none;
}

.link:visited {
  color: #757474;
}





.downloadbutton {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 1em;
  transition: 0.2s;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #2a2a2a;
  box-shadow: var(--shadow-elevation-low);

}

/* yellow #F4CD2A */


.downloadbutton:hover {
  box-shadow: var(--shadow-elevation-medium);

}

.downloadbutton:active {
  background-color: #ccc;
}



.portfoliosource {
  width: 100%;
  border-radius: 6px;
  transition: 0.2s;
  filter: saturate(0);
}





.numbers {
  color: #F4CD2A;
}

.btn {
  color: #ccc;
  display: none;
  transition: 0.2s;
  background: none;
  box-shadow: 0px 0px 0px transparent;
  line-height: 1em;
  font-size: .7em;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.btn:active {
  color: #666;
}

.category {
  background-color: rgba(167, 167, 167, 0.3);
  border: 1px solid rgba(167, 167, 167, 0.4);
  border-radius: 5px;
  letter-spacing: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: .6em;
  margin-right: 5px;
  color: rgb(138, 138, 138);
  display: inline-block;
  width: fit-content;
}


.category>a {
  color: inherit;
}

.location {
  cursor: url(../../../photos/link-yellow-mode.png), auto;
  transition: 0.2s;
}

.location:hover {
  background-color: rgba(127, 127, 127, 0.2);
}

#lottie {
  margin: 0 auto;
  width: 250px;

}

#logo {
  position: inherit;
  padding-right: 0%;
  padding-left: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}




.allportfolio {
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 35px;
  margin-top: 0px;


}

.allphotos {
  width: 100%;
  clear: inherit;

  float: none;
  margin: 0rem;
  margin-bottom: 5px;
  margin-right: 0px;
  border-radius: 0px;


  display: block;

  margin-bottom: 0px;
  transition: all .2s ease;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0px;
  margin-bottom: 35px;
  width: 90%;
}

.portfolioDIV {
  background-color: default;
  border: none;
  border-radius: 0px;
  width: calc(90%);
  margin-left: 5%;
  margin-right: 5%;
  max-width: 400px;
  position: relative;
  display: block;
  margin-bottom: 55px;


}

.allphotos:first-of-type {
  position: absolute;
  top: 200px;
  right: 5%;
  display: -webkit-flex;
  max-width: 200px;
  max-height: 100px;
  height: auto;
  width: auto;
  transition: 0.3s;
  position: absolute;
  filter: saturate(0) brightness(0);
  opacity: 0.4;


}
.allphotos:first-of-type:hover{
  opacity: 1;

  filter: none;

}
/* if screen is smaller than 750px, display non for allphotos first of type */
@media only screen and (max-width: 750px) {
  .allphotos:first-of-type {
    display: none;
  }
}


/* Overrides for Dark Mode. */
@media (prefers-color-scheme: dark) {
  #logo {
    background: rgb(51, 51, 51);
    background: linear-gradient(180deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
  }

  :root {
    --shadow-color: 0deg 0% 7%;
    --shadow-elevation-low:
      0px 1px 1.5px hsl(var(--shadow-color) / 0),
      0px 1.6px 2.4px hsl(var(--shadow-color) / 0.12),
      0.1px 3px 4.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-medium:
      0px 1px 1.5px hsl(var(--shadow-color) / 0),
      0.1px 3.2px 4.8px hsl(var(--shadow-color) / 0.06),
      0.1px 5.4px 8.1px hsl(var(--shadow-color) / 0.12),
      0.2px 8.9px 13.4px hsl(var(--shadow-color) / 0.18),
      0.4px 15px 22.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-high:
      0px 1px 1.5px hsl(var(--shadow-color) / 0),
      0.1px 5.3px 8px hsl(var(--shadow-color) / 0.03),
      0.2px 9px 13.5px hsl(var(--shadow-color) / 0.07),
      0.3px 12.8px 19.2px hsl(var(--shadow-color) / 0.1),
      0.4px 17.1px 25.7px hsl(var(--shadow-color) / 0.14),
      0.6px 22.6px 33.9px hsl(var(--shadow-color) / 0.17),
      0.8px 30px 45px hsl(var(--shadow-color) / 0.21),
      1px 39.7px 59.6px hsl(var(--shadow-color) / 0.24),
      1.4px 52.5px 78.8px hsl(var(--shadow-color) / 0.28);
  }

  body {
    color: rgb(232, 231, 231);
    background: #333333;
  }

  .downloadbutton {
    color: #2A2828;
  }

  .link {
    color: #ccc;
  }

  .link:visited {
    color: #C6C5C6;
  }

  .lighter {
    color: #555555;
  }

  .btn {
    color: #555555;
  }

  .downloadbutton {
    color: #ccc;
    background-color: #333333;
    border: 1px solid #555555;
  }

  .line {
    border-bottom: 1px solid rgb(93, 93, 93);

  }

  .category {
    background-color: rgba(96, 96, 96, 0.3);
    border: 1px solid rgba(167, 167, 167, 0.4);

  }


  .button,
  a,
  button,
  .fa-link,
  .btn {
    cursor: url(../../../photos/link-dark-mode.png), auto;
  }

  .yellowbutton {
    cursor: url(../../../photos/link-yellow-mode.png), auto;
  }

  .allphotos:first-of-type {
    /* reduce contrast */
    filter: saturate(0) brightness(100);
    opacity: 0.4;


  }

  .allphotos:first-of-type:hover{
/* reduce contrast */
filter: saturate(0) brightness(100);
opacity: 0.4;
  
  }
  
}
