@import "~theme/colors";

.progress {
    display: flex;
    height: 6px;
    width: 100%;
    border-radius: 6px;
    
    &:not(.empty) {
        background: $gray;
    }
}

.bar {
    background: $primary-shade;
    height: 100%;
    border-radius: 6px;
}
