@import "~theme/colors";

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
}

.embedded {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: dashed $gray 1px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem 0 auto;
    flex: 1 0 30%;
}
