@import "~theme/colors";
@import "~theme/screens";

.topBar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid $gray 1px;
    background: #ffffff0a;
    backdrop-filter: blur(15px);
    padding: 0.5rem 1rem;

    h1 {
        font-weight: 600;
        font-size: 40px;
        margin: auto;

        @include md {
            margin: 0;
            font-size: 26px;
        }
    }

    @include md {
        justify-content: space-between;
        padding: 1rem;
    }

    button[type="submit"] {
        width: 100px;
    }
}

.labels {
    margin: 6px 0;
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex: 1;
}

.areaContainer {
    flex: 1 0 100%;
    margin: 2rem 0 4rem;
    height: 150px;
    display: flex;

    .area {
        flex: 1 0 100%;
    }
}
