@import "~theme/colors";

.root {
    height: 100%;
    padding: 2rem;
}

.header {
    border-bottom: solid $gray-300 1px;
    padding-bottom: 15px;

    h1 {
        font-weight: 500;
        font-size: 30px;
        margin: 0 0 3px;
    }

    h3 {
        margin: 0;
        size: 1rem;
        font-weight: 400;
        opacity: .5;
    }
}
