@import "~theme/colors";
@import "~theme/screens";

.topBar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid $gray 1px;
    background: #ffffff0a;
    backdrop-filter: blur(15px);
    padding: 0.5rem 1rem;

    h1 {
        font-weight: 500;
        font-size: 32px;
        margin: .75rem;

        @include md {
            margin: 0;
            font-size: 26px;
        }
    }

    @include md {
        justify-content: space-between;
        padding: 1rem;
    }

    button[type="submit"] {
        width: 100px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 100px 100px 40px;
    grid-auto-rows: 100px;
    align-items: flex-end;
    gap: 25px;
    margin: 25px;
}