@import "~theme/colors";

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: $black;

    font-size: 1rem;
    transition: 0.25s;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

svg.svg-inline--fa {
    height: 14.4px;
}

*::selection {
    color: $black;
    background: $primary;
}
